#heading{
    background-color: blue;
    justify-content: center;
    color:white;
    display: flex;
}

.box{
    
    background-color: rgb(33, 33, 118);
    color: white;
    max-width: fit-content;
    margin:3px;
    
}