body {
    font-family: 'Raleway', 'Noto Sans', Arial, sans-serif;
    background-color: rgb(238, 248, 255) !important;
}

header {
    /* background: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% ); */
    /* background: radial-gradient( circle farthest-corner at 22.4% 21.7%,  rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% ); */
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
    /* background: linear-gradient( 89.7deg,  rgba(0,0,0,1) -10.7%, rgba(53,92,125,1) 88.8% ); */
    /* background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,107,141,1) 0%, rgba(0,69,91,1) 90% ); */
}

.card-body p {
    font-size: 1.2rem;
}

.history-btn {
    color: #0275d8 !important;
}

#UV-value {
    white-space: pre;
    padding-bottom: 8px !important
}

.bg-vhigh {
    background-color: rgb(153, 27, 27);
}

.bg-extreme {
    background-color: rgb(168, 50, 168);
}

#current-weather, .five-day-forecast-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
