#heading{
    background-color: blue;
    justify-content: center;
    color:white;
    display: flex;
}

.box{
    
    background-color: rgb(33, 33, 118);
    color: white;
    max-width: fit-content;
    margin:3px;
    
}
.mystyle{
    width:200px;
    display: block;
    background-color: grey;
    margin:5px;
}

#card{
    border: 1px solid;
    margin: 10px;
}

#inputvalue{
    margin: 10px;
}

#btn{
    position: relative;
    left:10px;
}